.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  overflow-y: auto;
  max-height: calc(100% - 72px);
}

.folderWrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 10%;
  padding: 10px;
}

.folderWrapper img { 
  width: 60px;
  height: 60px;
}

.folderText {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}

.marginBottom20 {
  margin-bottom: 20px;
}
